<style>

div .center {
text-align:center; }

</style>

<div class="hero-unit buy" >
	<div class="center">
		<img usemap="#_bc_customheader_map"src=<%=@show.user.header%> >
		<h1 class=>Buy tickets</h1><br>
		<br>
		<h3>Choose how many tickets at <b>$<%= @show.ticket_price %></b> each:</h3><br>
		<%= render "form"%>
	</div>
</div>