<table>
  <tr>
    <th>Guest email</th>
    <th>Tickets</th>
    <th>Purchase date</th>
  </tr>

<% @show.guests.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.tickets %></td>
    <td><%= user.created_at %></td>
  </tr>
<% end %>
</table>