<style>

img {
    display: block;
    margin-left: auto;
    margin-right: auto }

#text {
	    margin-left: auto;
	    margin-right: auto;
	    width: 6em
	}
</style>


<body>
<div class="hero-unit">

	<img usemap="#_bc_customheader_map"src="http://gallery.mailchimp.com/fd0a0f8a21f72c5fbdc5c772a/images/16346795604_wMMJS.jpg"/>
<h2 id="text">h</h2>
<h2 id="text">h</h2>
<h2 id="text">h</h2>
<h2 id="text">h</h2>
<h2 id="text">h</h2>
<h2 id="text">h</h2>



<br><br>
<div align="center">
	
	
<iframe width="300" height="100" style="display: inline; width: 300px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/track=4124094065/size=grande/bgcol=FFFFFF/linkcol=4285BB/" allowtransparency="true" frameborder="0"><a href="http://music.daniellevigoans.com/track/heights-so-high">Heights So High by Daniel Levi Goans</a></iframe>

<iframe width="300" height="100" style="display: inline; width: 300px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/track=2851766590/size=grande/bgcol=FFFFFF/linkcol=4285BB/" allowtransparency="true" frameborder="0"><a href="http://music.daniellevigoans.com/track/mary-land">Mary-land by Daniel Levi Goans</a></iframe>
</div>


</div>
</body>