<div class="container center">
	<div class="hero-unit span4 offset" id="home">
		<h1>Musicians</h1>
		<p>Spend more time on music.<br> Less time on logistics.</p>
		<%= link_to "Sign up &raquo;".html_safe , signup_musician_path, class:"btn btn-primary btn-large" %>
	</div>
	<div class="hero-unit span4" id="home">
		<h1>Fans</h1>
		<p>Find musicians to host. <br> Shows to see. </p>
		<%= link_to "Sign up &raquo;".html_safe , signup_fan_path, class:"btn btn-primary btn-large" %>
	</div>
</div>