 <div id="myCarousel" class="carousel slide right">
   <div class="carousel-inner">
     <div class="item active">
       <%= image_tag "musician.jpg" %>
       <div class="carousel-caption">
         <h4>Musicians </h4>
         <p>Support your music by playing house shows. We make it easy to schedule shows and manage tours, so you can focus on the music.</p>
       </div>
     </div>
     <div class="item">
       <%= image_tag "host.jpg" %>
       <div class="carousel-caption">
         <h4>Hosts </h4>
         <p>Find musicians to host based on time and location. Organize a show, invite your friends, and listen to the music.</p>
       </div>
     </div>
     <div class="item">
       <%= image_tag "fan.jpg" %>
       <div class="carousel-caption">
         <h4>Fans</h4>
         <p>Find shows in your neighborhood, get invitations from friends, and buy tickets for incredible live music. Only see shows where you know someone who's going.</p>
       </div>
     </div>
   </div>
   <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
   <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
 </div>
</div>
