<h4>How it works</h4>
After signing up, you can create shows, which generates a host and guest page that lets your host invite guests and see who has bought tickets. You can monitor how many tickets are sold and who's coming, and you can edit the default email messages guests receive after they sign up. 

<br><br>
<h4>Coming soon</h4>
We're building new features to create a music ecosystem around house shows. Soon, we will have a full user experience for musicians, hosts, and fans that will...
<br><br>
<ul>•Integrate with Facebook</ul>
<ul>•Schedule your availability </ul>
<ul>•Let hosts and fans find you </ul>
