<div id="myModal" class="modal hide fade">
	<div class="modal-header">
	  <button class="close" data-dismiss="modal">&times;</button>
	  <h3>Housed - A new kind of live music</h3>
	</div>
	<div class="modal-body">
	  <h4>Our vision</h4>
	  <p>We want to make it easier for artists to make music, and for fans to find incredible live performances. To do this, we're building a platform that brings together musicians, hosts, and fans to create a live music ecosystem built around house shows.'</p><br>

	  <h4>Our alpha - for musicians</h4>
	  <p>Musicians can schedule house shows, coordinate with hosts, and sell tickets.</p><br>

	  <h4>Our beta - for musicians, hosts and fans</h4>
	  <p>Musicians will schedule availability by time and date, and fans will search for musicians to host, and browse local performances to attend. We'll filter show search so fans can only see shows where a Facebook mutual friend is attending.</p>
	  <hr>
	</div>
	<div class="modal-footer">
	<%= link_to "Musician sign up &raquo;".html_safe, signup_path, class: "btn btn-primary btn-large modal_button"%>
	<%= link_to "Fan sign up &raquo;".html_safe, new_fan_path, class: "btn btn-primary btn-large" %>

	</div>
	</div>
	<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large">Learn more &raquo;</a>