<style>

img {
    display: block;
    margin-left: auto;
    margin-right: auto }

	
	div .center {
	text-align:center; }

</style>

<div class="hero-unit">
	<% if current_user.header.blank? %>
		<h1><%= current_user.name %></h1>
	<% else %>
		<img usemap="#_bc_customheader_map"src=<%=current_user.header%> >
	<% end %>
</div>
<div class="center">
	<br>
	<p>
	  <b>Total shows:
	  <%= current_user.shows.count %> </b>
	</p>

	<p>
	  <b>Total guests:
	  <%= @guests %></b>
	</p>


</div>