<h1>About us</h1>

<p>In Summer 2012, Taylor Thompson was talking to his friend Daniel Levi Goans, who travels around the US playing folk music at house shows. Taylor and Daniel talked about ways to make it easier to manage house show tours and organize folk fans around musicians who play house shows.</p><br>

<p>Here's some of Daniel's music:</p><br>

<iframe width="400" height="100" style="position: relative; width: 400px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/track=4124094065/size=venti/bgcol=FFFFFF/linkcol=4285BB/" allowtransparency="true" frameborder="0"><a href="http://music.daniellevigoans.com/track/heights-so-high">Heights So High by Daniel Levi Goans</a></iframe>

<iframe width="400" height="100" style="position: relative; width: 400px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/track=2851766590/size=venti/bgcol=FFFFFF/linkcol=4285BB/" allowtransparency="true" frameborder="0"><a href="http://music.daniellevigoans.com/track/mary-land">Mary-land by Daniel Levi Goans</a></iframe>

<br><br><p>Housed is the first version of a project to make life easier for Daniel and other musicians, and to help Taylor find more musicians like Daniel.</p>