<h1>For Musicians</h1><br><br>
<h3>Our vision for musicians</h3>
Our goal is to make it easier for artists to manage the business aspects of their work and focus on the music. We want to create a new music economy that revolves around house shows as a performance venue. Performing in fans' homes creates a more intimate connection that lets fans enjoy the music more and connect more deeply with the musician. We are building our platform to do three things: (1) make the logistics of house shows easy, (2) create cultural knowledge for house shows so that mainstream audiences are willing to pay, and (3) create a fan base to host and attend shows so that thousands of musicians can ear a decent living from a house show economy.<br>


<br><h3>How it works now</h3><br>
<ol>(1) <b>Sign up. </b>Upload a custom header and sample music.</ol>
<ol>(2)<b> Create shows.</b> Add the host email, location, and date to generate two custom web pages - one for the host, one for fans to buy tickets.</ol>
<ol>(3) <b>Manage your shows.</b> See how many tickets have been sold, customize thank-you and reminder emails sent to fans</ol>
<ol>(4) <b>Play shows.</b> Get paid and automatically receive emails of all fans who came.</ol>

<br><h3>How it will work</h3><br>
<ul><b>•Schedule availability.</b> List your availability by time and date. Enter dates, locations, and a travel radius and hosts can find you based on that availability.</ul>
<ul><b>•Confirm shows.</b> Confirm shows and get minimum ticket numbers, where hosts guarantee to bring at least 20 fans per show.</ul>
<ul><b>•Integrate social media.</b> Integrate host and fan signup and show promotion with Facebook - so you can sell more tickets and get more fans.</ul>

 <br>
<%= link_to "Sign up &raquo;".html_safe , signup_path, class: "btn btn-primary btn-large" %>
<br><br>