<h1>Email settings</h1><br>

<ul>New show email</ul>
<ul>Tickets sold update</ul>
<ul>Ticket purchase (for guest)</ul>
<ul>Show reminder (for guest)</ul>
<ul>Show reminder (for musician & host)</ul>
<ul>Thank you (for guest)</ul>