<h1>For Hosts</h1><br><br>
<h3>Our vision for hosts</h3>
Our goal is to make it easier for fans to find and enjoy live music. We want to create a new music ecosystem that revolves around house shows as a performance venue, creating a more intimate connection with musicians that lets you enjoy their music more. We are building our platform to do three things: (1) make it easy to find musicians and schedule house shows, (2) create cultural knowledge for house shows to become mainstream, and (3) allow fans to search local shows through their social networks.<br>


<br><h3>How it works now</h3><br>
In our alpha release, musicians invite hosts for specific shows. We generate a page for each show that allows hosts to monitor who's coming, as well as an instructions page that outlines the process and a page for fans to buy tickets. Hosts can also sign up for our beta release - to be among the first users to search musicians and schedule their own shows. <br>

<br><h3>How it will work</h3><br>
<ul><b>•Sign up.</b> Browse musicians available to host, and shows available to attend based on geography, date, and your musical preferences.</ul>
<ul><b>•Customize alerts.</b> Customize how much you want to hear from us - receive email or Facebook alerts when musicians are available near you.</ul>
<ul><b>•Integrate social media.</b> Invite friends to shows you host on Facebook.</ul>
<ul><b>•Screen fans through social networks.</b> When fans search for shows, only people with a mutual friend on Facebook can see a show.</ul>

 <br>
<%= link_to "Sign up &raquo;".html_safe , new_fan_path, class: "btn btn-primary btn-large" %>
<br><br>