<br><br><br>
<div class="hero-unit span3">
	<h1>Musicians</h1>
	<p>Spend more time on music.<br> Less time on logistics.</p>
	<%= link_to "Sign up &raquo;".html_safe , signup_path, class:"btn btn-primary btn-large" %>
</div>

<div class="hero-unit span3	">
	<h1>Fans</h1>
	<p>Find musicians to host. <br> Shows to see. </p>
	<%= link_to "Sign up &raquo;".html_safe , signup_path, class:"btn btn-primary btn-large" %>
</div>

<div class="span8">
	<%= render 'carousel' %>
</div>

<br><br><br><br>

