<h1>Welcome!</h1>

We will be in touch soon to answer any questions and help customize your show ticket page. If you uploaded a header and songs, those will be available when you create shows. <br>


<br><br>
<%=render 'help' %>
<br><br>
<h4>Please, give us feedback!</h4>
What you see here is a very early version of our site. Our goal is to make it easier for artists to make good music and for fans to connect with those artists live - so let us know how we can do this better. Send us an email!



<br><br>

	
<%= link_to "Create a show", new_user_show_path(current_user), class: "btn btn-primary btn-large" %>