<ul class="nav pull-right">		
       <li id="fat-menu" class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
           Admin <b class="caret"></b>
         </a>
         <ul class="dropdown-menu">
           <li><%= link_to "Musicians", users_path %></li>
           <li><%= link_to "Shows", user_shows_path(current_user) %></li>
		   <li><%= link_to "Guests", guests_path %></li>
	       <li><%= link_to "Money", root_path %></li>  
         </ul>
	</li>
</ul>