<footer>

</view>
	<hr>
	<p>&copy; Housed 2012</p>

	<nav>
	   <ul>
	     <li style="display:inline"><%= link_to "About",   story_path %></li>
	     <li style="display:inline"><%= link_to "Contact", contact_path %></li>
	   </ul>
	 </nav>

</footer>
